/* global */
.padding-right-left {
	padding: 0 139px;
}

/* banner styles */
.banner-img-div {
	position: relative;
	top: 0;
	left: 0;
}

.banner-img-div img {
	width: 100%;
	height: 100%;
}

.banner-content {
	position: absolute;
	top: 21px;
	left: 0;
	color: #fff;
	width: 100%;
	height: 100%;
} 

/*header styles*/
.logo {
	display: inline-block;
	font-size: 14px;
	font-family: 'Poppins SemiBold'; 
	color: #fff;
}

.navbar {
	position: absolute;
	top: 0;
	right: 139px;
	display: inline-block;
}

.navbar-ul li{
	display: inline-block;
}

.navbar-ul li a{
	margin-left: 45px;
	font-size: 12px;
	font-family: 'Poppins medium2';
	color: #fff;
	text-transform: uppercase;
}

/* banner content styles*/
.banner-content-div {
	margin-top: 150px;
}

.banner-content-div h1{
	width: 495px;
	font-size: 62px;
	font-family: 'Poppins ExtraBold';
}

.banner-content-div p{
	width: 352px;
	font-size: 14px;
	font-family: 'Poppins regular';
	margin-top: 30px;
}

/* banner bottom styles*/
.buttons {
	position: absolute;
	bottom: 100px;
	right: 139px;
}

.buttons button{
	width: 51px;
	height: 51px;
	border: 0;
	cursor: pointer;
}

.buttons .blue-color {
	background-color: #5863F8;
}

.sticky {
	position: -webkit-sticky;
  	position: sticky;
	top: 0px;
	left: 139px;
	padding: 0 0 0 139px;
	font-size: 20px;
	color: #fff;
	background-color: pink;
}

/* article section area */
.article-section {
	margin-top: 50px;
}

.article-section div {
	display: inline-block;
	vertical-align: top;
	width: 45%;
	height: 100%;
}

.article-section div:first-child {
	margin-right: 100px;
}

.article-text h2 {
	width: 400px;
	line-height: 50px;
	font-size: 42px;
	font-family: 'Poppins ExtraBold';
}

.article-text p {
	margin-top: 30px;
	line-height: 20px;
}

.article-text p:nth-child(2) {	
	font-size: 16px;
	font-family: 'Poppins medium2';
}

.article-text p:nth-child(3) {
	font-size: 14px;
	font-family: 'Poppins regular';
}

.article-images {
	margin-bottom: 50px;
}

.article-images-div {
	width: 100%;
}

.article-images img:first-child {
	display: inline-block;
	/*margin-right: 15px;*/
	width: 50%;
}

.article-images img:nth-child(2) {
	display: inline-block;
	width: 49%;
}

.article-img-3 {
	margin-top: 15px;
	width: 100%;
}

.article-btn {
	width: 184px;
	height: 50px;
	margin-top: 50px;
	background-color: #5863F8;
	border: 0;
	font-size: 14px;
	font-family: 'Poppins regular';
}

.article-btn a {
	color: #fff;
	vertical-align: middle;
}

.article-btn img {
	vertical-align: middle;
}

/* footer area styles */
footer {
	background-color: #121212;
	color: #fff;
}
.footer-div {
	padding: 30px 0 20px 0;
	max-width: 828px;
	width: 100%;
}

.footer-div h2{
	font-size: 24px;
	line-height: 32px;
	font-family: 'Poppins bold';
	margin-bottom: 30px;
}

.footer-div p {
	margin-top: 15px;
	font-size: 14px;
	font-family: 'Poppins medium2';
	line-height: 19px;
	color: #B1B1B1;
}

.footer-div p:nth-child(2) {
	margin-bottom: 50px;
}

.social-icons a{
	margin-right: 20px;
}

.copyright, .footer-div p:last-child {
	display: inline-block;
}

.copyright {
	padding-right: 10px;
	margin-right: 5px;
	border-right: 1px solid #B1B1B1;
}

.footer-div a:last-child {
	color: 	#5863F8;
	text-transform: capitalize;
}